body{
    font-family: 'Catamaran';
    width: 1440px;
}

.header {
    background-color: #032B2F ;
    height: 138px;
    display: grid;
    grid-template-columns: 400px 1000px  ;
    grid-template-rows: 69px 69px;
    align-items: center; 
}


.header div:first-child {
    grid-row: 1 / 4;
    padding-left: 150px;
    padding-top: 8px;
    
}

.headerlogo {
    width: 187.3px;
    height: 88.34px;
}


.buscador{
    justify-content: center;
    align-items: center;
    padding-left: 153px;
}
.barrabuscador {
    width: 600px;
    height: 20px;
}
.search {
    width: 20px;
    height: auto;
    margin-left: 10px;
    
}


button {
    background-color: #032B2F;
    border: none;
    color: #EFF2EE;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.izquierda {
   
    justify-content: left;
}
.derecha {
    
    justify-content: right;
    margin-left: 122px;
}
