body{
    font-family: 'Catamaran';
    width: 1440px;
}

.header {
    background-color: #032B2F ;
    height: 138px;
    display: grid;
    grid-template-columns: 400px 1040px  ;
    grid-template-rows: 69px 69px;
    align-items: center; 
}


.header div:first-child {
    grid-row: 1 / 4;
    padding-left: 150px;
    padding-top: 8px;
    
}

.headerlogo {
    width: 187.3px;
    height: 88.34px;
}


.buscador{
    justify-content: center;
    align-items: center;
    padding-left: 153px;
    align-items: center;
}
.barrabuscador {
    width: 600px;
    height: 21px;
}
::placeholder {
    color: #D0D3C5;
    font-family: 'Catamaran';  
}
.search {
    width: 20px;
    height: auto;
    margin-left: 15px;
    margin-top: 25px;
}


button {
    background-color: #032B2F;
    border: none;
    color: #EFF2EE;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.izquierda {
   
    justify-content: left;
}
.derecha { 
    justify-content: right;
    margin-left: 80px;
    
}
.derecha img{
    padding: 8px;
}
.sponsors {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px;
}
#hf {
    height: 73px;
    width: auto;
}
#biosphere {
    height: 98px;
    width: auto;
}

#barcelona {
    height: 78px;
    width: auto;
}
#certificadoverde {
    height: 109px;
    width: auto;
}
#economiahumana {
    height: 81px;
    width: auto;
}

